@model IRB.Models.MasterRollModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MasterRollModel</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PISNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PISNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressPatelat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressPatelat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritialStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritialStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceofPosting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceofPosting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationwithNextofKin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationwithNextofKin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdharNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdharNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.PISNo  }) |
    <a asp-action="FindAll">Back to List</a>
</div>
